.movie-card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 0.25rem;
    justify-content: flex-start;
    padding: 0.25rem;
}

.movie-card_format {
    border: 1px solid rgb(var(--tile-border));
    border-radius: 1rem;
    box-shadow: 0px 0.25rem 1rem rgb(var(--tile-border));
    overflow: hidden;

    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    transition: background 200ms, border 200ms;

    overflow: hidden;
}

.movie-card_format:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.30);
    transform: translateY(-0.25rem);
    box-shadow: 3px 3px 17px 3px rgba(var(--card-border-rgb), 0.30);
}

.movie-card_format:hover span {
    transform: translateX(4px);
}

.movie-poster {
    width: 220px;
    height: auto;
    align-self: center;
}

.movie-rating {
    display: flex;
    flex-direction: row-reverse;
    height: 0;
}

.movie-icon {
    position: relative;
    top: -20.75rem;
    right: -1rem;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgb(var(--background-start-rgb)));
}

.movie-value {
    position: relative;
    top: -19.45rem;
    right: -4.3rem;
    color: rgb(var(--background-start-rgb));
    font-weight: bolder;
    width: 3rem;
    text-align: center;
}

.movie-name {
    font-size: larger;
    font-weight: bolder;
}

.movie-date,
.movie-overview {
    display: none;
}

@media screen and (width > 820px) {
    .movie-card {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        gap:
        1rem;
    }

    .movie-poster {
        height: 100%;
        max-height: 150px;
        width: auto;
        align-self: flex-start;
        flex: 0 0;
    }

    .movie-description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;
        margin: 0 0.25rem;
        flex: 1 0;
    }

    .movie-name {
        order: -1;
        flex: 1 0 75%;
    }

    .movie-rating {
        flex-direction: row;
        font-size: medium;
        height: auto;
        align-items: center;
    }

    .movie-icon,
    .movie-value {
        position: inherit;
        font-size:large;
    }

    .movie-icon img{
        display: none;
    }
    .movie-icon:before {
        content: "⭐️";
    }

    .movie-value {
        color: rgb(var(--foreground-rgb));
        font-weight: normal;
        width: auto;
    }

    .movie-date {
        display: block;
        flex: 1 0 100%;
        font-size: small;
        font-weight: light;
    }


    .movie-overview {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}